<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %X [%t] LogLevel=%p Component=%c{1} Message=%m%n"/>
        </Console>
        <RollingFile  name="LogFile" fileName="/var/apps/logs/masherylogstream.log" filePattern="/var/apps/logs/masherylogstream-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X [%t] LogLevel=%p Component=%c{1} Message=%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile >
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.rs" level="debug"/>

    </Loggers>
</Configuration>